name: Run Java program
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run Java program
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
      - name: Compile
        run: javac Hello.java
      - name: Run
        run: java Hello
