name: Run Java program
runs-on: ubuntu-latest
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run:
    steps:
      - name: Run program
      - run: java Hello.java
